body {
    padding: 0;
    margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.champion-filter-container {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    width: 100vw;
    height: 5rem;
    background-color: #232323;
    border-top: 2px solid #9A9A9A;
    z-index: 9999;

    .role-filter-button {
        flex: 1 1 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        user-select: none;
        cursor: pointer;
        color: #888888;

        img {
            height: 50%;
            width: auto;
            filter: grayscale(1.0) brightness(0.5);
        }

        &.active {
            color: #FFFFFF;
            font-weight: bold;

            img {
                filter: grayscale(0) brightness(1.5);
            }
        }
    }
}

.filter-bar-blocker {
    display: block;
    width: 100vw;
    height: 5rem;
}

.champion-list-container {
    display: block;
    width: 90%;
    margin: 0 auto;

    .champion-wrapper {
        display: flex;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        height: 15vw;

        .champion-image {
            width: auto;
            height: 100%;
        }

        .champion-interaction-wrapper {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex: 1 1 auto;
            height: 100%;
            border: 3px solid black;
            box-sizing: border-box;

            .role-selection-button {
                flex: 1 1 auto;
                position: relative;
                height: 100%;
                cursor: pointer;

                &:hover {
                    background-color: grey;
                }

                &.active {
                    background-color: green;
                }

                img {
                    position: absolute;
                    max-width: 100%;
                    max-height: 60%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}
